.createClass{
    margin: 10px;
}

@media(min-width: 768px){
    .mobile{
        display: none;
    }
}

@media(max-width: 768px){
    .notMobile {
        display: none;
    }
    #line{
        display: grid;
        grid-template-columns: 30% 20% 20% 50px 50px;
    
    }
    td{
        margin: 0 20px;
    }
}